@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* general styles */ 

body {
    font-size: 14px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(315deg, rgba(192, 80, 77, 1) 0%, rgba(228, 139, 72, 1) 
    40%, rgba(244, 196, 48, 1) 70%, rgba(255, 229, 120, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}


main {
    flex: 1 0 auto;
}

header h1 {
    padding-left: 10px;
}

h1 { 
    margin-top: 60px;
    font-size: 345%;
    font-family: "Montserrat", sans-serif;
}

#intro {
    margin:20px ;
    font-family: "Space Grotesk", sans-serif;
    text-align: justify;
}

#intro p {
    font-size: 16px;
}



/*navigation bar styles*/ 

nav li {
   display:inline-block;
   margin: 5px;
   padding: 0.5rem;
   font-family:"Space Grotesk", sans-serif;
}

a:visited {
    color: black;
}

nav a {
    text-decoration:none ;
}

nav {
    position: absolute;
    top:0;  
    right:0;
}

#navbar li {
    color: black;
}

#navbar li:hover {
    border-bottom: 1px solid black;
}



/*hr bar*/ 
#intro hr {
    margin-top: 50px;
    border: 1px solid black;
}


/*projects home page */ 
main h2 {
    font-family:"Montserrat", sans-serif ;
    color: #666;
}

main p {
    font-family: "Space Grotesk", sans-serif;
    color: #666
}

.box {
    margin: 5px; 
    padding-left: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: width 0.5s, height 0.5s, transform 0.5s;
    
}

.box a {
    color: black;
}

.box a:visited {
    color: black;
}


.box:hover  {
    transform:translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    
}


/*About me page styles*/ 
.aboutmecard {
    display: flex;
    flex-direction: column; /* stacks the flex items in a column*/
    justify-content: flex-start; /* sets the flex item to the start of the container */
    align-items: center;
    height: auto; /* Set height for the parent based on viewport height */
    width: 90vw; /* Set height for the parent based on viewport width */
    margin: 50px auto; 
    margin-top: 100px;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

.aboutmecard:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

#img1ab {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 50%; 
}


.aboutmecard p {
    font-size: 14px;
    text-align: justify; 
    margin-top: 10px; 
}

.aboutmecard ul {
    font-size: 13px;
    font-family: "Space Grotesk", sans-serif;
    color: #666
}

/*pdf icons in about me */ 

#pdficons {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center icons */
    gap: 20px; /* Space between the icons */
    margin-top: 10px;
    list-style: none;
}


#pdficons img {
    width: 50px; 
    height: auto; 
    margin: 5px; 
    transition: width 0.5s, height 0.5s, transform 0.5s;
}


#pdficons ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
    list-style: none;
}

#pdficons img:hover {
    transform: scale(1.5);
}

.pdfcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdftitle {
    font-weight: bold;
}

#cv,#nc {
    padding-top: 17px;
}

#cv img {
    margin-top: 0px;
    height:auto;
    width: 60px;
}

/*footer styles*/ 

footer {
    background-color: blueviolet;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer {
    background-color: transparent;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center; /* Center everything horizontally */
    padding: 20px 0; /* Add some padding */
}

#socialicons h2 {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding-bottom: 10px; /* Adds space between the name and icons */
    font-size: 2rem; /* Adjust size of the name */
    color: black;
}

#iconcontainer {
    display: flex;
    justify-content: center; /* Center icons */
    gap: 20px; /* Space between the icons */
    margin-top: 10px;
    list-style: none;
}

#socialicons i {
    color: black;
    font-size: 40px; /* Adjust the size of the icons */
    transition: transform 0.3s; 
    
}

#socialicons i:hover {
    transform: scale(1.2); 
}


/*contact me form styles*/ 

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title {
    font-weight: 600px;
    color: black;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: solid #ff994f;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: black
    
}

.contact-left button img {
    height: 15px;
}

button:hover, 
#submit-button:hover {
    cursor: pointer;
}


/*phones*/

@media screen and (max-width: 576px) {

    #socialicons h2 {
        font-size: 20px;
    }

    #socialicons i {
        font-size: 30px;
    }

    .contact-left-title {
        font-size: 28px; 
    }

    .contact-inputs {
        width: 100%;  
        height: 45px; 
    }

    .contact-left textarea {
        height: 120px; 
    }

    .contact-left button {
        padding: 10px 20px; 
        font-size: 14px; /
    }
}
    

/*tablets*/

@media screen and (max-width: 768px) {
    #szr img {
        margin-top:20px ;
    }
}


/* laptop */ 
@media screen and (min-width: 992px) {

    body {
        margin-left: 15rem;
        margin-right: 15rem;
    }
    nav {
        margin: 20px;
        font-size: 120%;
    }

    .aboutmecard {
        height: 80vh;
        width: 80vh;
    }

    #img1ab {
        width: 200px; 
        height: 200px;
    }

    .aboutmecard {
        height:auto;
    }
    
    .aboutmecard p {
        font-size: 15px;
    }

    .aboutmecard ul {
        font-size:15px;

    }

    #szr img {
        margin-top:20px ;
    }

}




